[log]
level = "debug"

[secure]
enable = false
cert_file = ""
key_file = ""
api_key = ""
api_secret = ""

[kafka]
conn = "192.168.1.10:9094"
grp = "kafka-go"
auto_create_topic = true

[[kafka.producer.topics]]
key = "example"
name = "producer"

[[kafka.consumers]]
[[kafka.consumers.topics]]
name = "example"

[[kafka.consumers.topics]]
name = "another-example"