[env]
dev = true

[log]
level = "debug"

[server]
cert_file = ""
key_file = ""

[kafka]
conn = "localhost:9092"
api_key = ""
api_secret = ""
grp = "kafka-go"
auto_create_topic = true

[[kafka.producer.topics]]
key = "example"
name = "producer"

[[kafka.consumers]]
[[kafka.consumers.topics]]
name = "example"